name: 'test'
on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: submit
  cancel-in-progress: true

jobs:
  submit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: check out repo for action code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: submit
        uses: ./
        with:
          dispatch-token: ${{ github.token }}
          dispatch-target: ${{ github.repository }}
          branch: testing
