name: 'test'
on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: submit
  cancel-in-progress: true

jobs:
  submit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: check out repo for action code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: submit
        uses: ./
        with:
          dispatch-token: ${{ github.token }}
          dispatch-target: ${{ github.repository }}
          branch: testing
